/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 2, 2014, 3:48:23 AM
    Author     : voxwivas1
*/

/*'margin-top', 'margin-right', 'margin-bottom', and 'margin-left'*/ 
#progerss-display{
    max-width:400px;
    min-width:200px;
    position:fixed;
    top:-1px;
    z-index:1000;
    /*background-color:#fff;*/
    border: solid 1px #ddd;
    left: 40%;
    right: 40%;
}
